NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:3000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=playflix
JWT_ACCESS_SECRET=806454v_n<!$*"~$^$%&47sftyjrt^*%^&$%%tert
JWT_REFRESH_SECRET=rrkjg_haogto95739406-3267@%$^%&$^^$^??~~$
PAYLOAD_SEAL_PEPPER=replace-with-long-random-pepper
RAZORPAY_KEY_ID=rzp_test_SjBWibfYGZqLtv
RAZORPAY_KEY_SECRET=UQWnu6ct0QPp014dSIZxWZRH
SSL_KEY_PATH=./certs/localhost-key.pem
SSL_CERT_PATH=./certs/localhost-cert.pem
